body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    
}
h1{
    font-size: large;
    font-weight: bold;
}
section{
    min-height: 100vh;
    padding:60px;
}
form{
   padding: 20px;
   background-color: white;
   border-radius: 15px 22px ;
   color: rgb(47, 110, 112);
   width: max-content;
  
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus{
    outline: none;
    box-shadow: none;
    border-color: cadetblue;
}
input[type="password"]{
    cursor: none;
}
.form-row{
    position: relative;
}
.form-container {
    
    display: none; /* Hide both forms initially */
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .form-container.active {
    display: block; /* Show the form with the active class */
    transform: translateY(0);
    opacity: 1;
  }
  .form-container.inactive {
    display: block;
    opacity: 0;
    transform: translateY(20px);
  }
#log-in .login{
    margin-top: 80px;
}

/* Home Styling */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}